body {
    background-color: white;
    color: goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:
		1px 2px 0 #000;
}

div.center {
    text-align: center;
}

nav div{
    padding-left: 10px;
    padding-right: 10px;
}

#phraseToGuess {
    letter-spacing: 0.3em;
}
/* can also box character */

#guessedLetters {
    letter-spacing: 0.2em;
}

button {
    border-radius: 6px;
    font-size: 15pt;
    border: 2px solid #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: goldenrod;
    text-shadow:
    1px 2px 0 #000;
}

button:hover {
    background-color: goldenrod;
    color:white;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}